node_modules/
server/node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

coverage/
.nyc_output/

dist/
build/
out/

.cache/

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pidb
*.svclog
*.scc

agent/**/bin/
agent/**/obj/

OnlyBackup.zip
